body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-app {
  background: white;
  padding: 25px;
  width: 320px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  background: #4facfe;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #00c6ff;
}

#result {
  margin-top: 15px;
}

#weatherIcon {
  width: 100px;
}

.info {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img {
  width: 40px;
  margin-bottom: 5px;
}
